/*
 * wger customization for bootstrap
 *
 * https://coolors.co/e63946-a8dadc-457b9d-1d3557-cba328-296713-266dd3-a5a5b6
 */

 $wger-primary: #FFD700 !default;                // Gold yellow
 $wger-accent: #F2C94C !default;                 // Light yellow
 $wger-background: #FFFFFF !default;             // White background
 $wger-surface: #FFF9E5 !default;                // Light surface color
 $wger-text: #333333 !default;                   // Dark gray text
 $wger-light: #f4f4f6 !default;                 // Light background
 $wger-light-2: #dddde3 !default;               // Light gray background
 $wger-light-3: #a5a5b6 !default;               // Gray
 $wger-red: #e63946 !default;                   // Red (keeps the same for warnings)
 $wger-blue: #2A4C7D !default;                  // Dark blue for primary
 $wger-blue-2: #266dd3 !default;                // Accent blue
 $wger-green: #307916 !default;                 // Green
 
 $link-color: $wger-blue-2 !default;             // Link color set to accent blue
 

@import "../yarn/bootstrap/scss/functions";
@import "../yarn/bootstrap/scss/variables";

$theme-colors: (
    "primary": $wger-primary,
    "secondary": $wger-accent,
    "success": $wger-green,
    "info": $info,      
    "warning": $wger-red,           
    "danger": $danger,
    "light": $wger-light,    
    "dark": $dark
);


$font-family-sans-serif: "Open Sans Light";

$enable-responsive-font-sizes: true;



/*
 * Import the rest of the bootstrap files
 */
@import "../yarn/bootstrap/scss/bootstrap";
